{{page-title "Requests"}}

<h1 class="display-6 mb-4">Requests</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created</th>
      <th>Purpose</th>
      <th>DB</th>
      <th>Status</th>
      <th>Validity</th>
      <th>Submission</th>
    </tr>
  </thead>

  <tbody>
    {{#each @model as |res|}}
      <tr>
        <td>
          <LinkTo @route="requests.show" @model={{res}}>{{res.id}}</LinkTo>
        </td>

        <td>{{format-datetime res.created_at}}</td>
        <td>{{res.purpose}}</td>
        <td>{{res.db}}</td>
        <td>{{res.status}}</td>
        <td><ValidityBadge @validity={{res.validity}} /></td>

        <td>
          {{#if res.submission}}
            {{res.submission.id}}
          {{else}}
            -
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>