{{page-title (concat "Request #" @model.id)}}

<h1 class="display-6 mb-4">Request #{{@model.id}}</h1>

<div class="mb-3">
  <LinkTo @route="requests.index">&laquo; Back</LinkTo>
</div>

<dl class="d-flex flex-wrap justify-content-between row-gap-1 column-gap-2">
  <div>
    <dt>ID</dt>
    <dd>{{@model.id}}</dd>
  </div>

  <div>
    <dt>Created</dt>
    <dd>{{format-datetime @model.created_at}}</dd>
  </div>

  <div>
    <dt>Purpose</dt>
    <dd>{{@model.purpose}}</dd>
  </div>

  <div>
    <dt>DB</dt>
    <dd>{{@model.db}}</dd>
  </div>

  <div>
    <dt>Status</dt>
    <dd>{{@model.status}}</dd>
  </div>

  <div>
    <dt>Validity</dt>
    <dd><ValidityBadge @validity={{@model.validity}} /></dd>
  </div>

  <div>
    <dt>Submission</dt>

    <dd>
      {{#if @model.submission}}
        {{@model.submission.id}}
      {{else}}
        -
      {{/if}}
    </dd>
  </div>
</dl>

<h2>Objects</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Files</th>
    </tr>
  </thead>

  <tbody>
    {{#each @model.objects as |obj|}}
      <tr>
        <td>{{obj.id}}</td>

        <td>
          <ul class="list-unstyled mb-0">
            {{#each obj.files as |file|}}
              <li>
                <button type="button" class="btn btn-link p-0" {{on 'click' (fn this.downloadFile file.url)}}>{{file.path}}</button>
              </li>
            {{/each}}
          </ul>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h2>Validation Reports</h2>

<table class="table">
  <thead>
    <tr>
      <th>Object</th>
      <th>File</th>
      <th>Validity</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    {{#each @model.validation_reports as |report|}}
      <tr>
        <td>{{report.object_id}}</td>

        <td>
          {{#if report.path}}
            {{report.path}}
          {{else}}
            -
          {{/if}}
        </td>

        <td><ValidityBadge @validity={{report.validity}} /></td>

        <td>
          <pre class="mb-0 py-1 text-pre-wrap"><code>{{#if report.details}}{{to-json report.details}}{{else}}-{{/if}}</code></pre>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>